<div class="container my-auto bg-light">
  <div class="row">
    <div class="col-sm-6 mx-auto ">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="mb-3">
          <label for="username" class="form-label">User Name</label>
          <input type="text" name="username" class="form-control" id="username" ngModel required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="useremail" class="form-control" id="email" ngModel required email>
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" [ngModel]="defaultGender" name="usergender" id="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="mb-3">
          <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users;let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.useremail }}</td>
            <td>{{ user.usergender }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>